################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MsmqExts/v16
/DemoMsmqExts.Consumer/bin/Debug
/DemoMsmqExts.Consumer/obj/Debug
/DemoMsmqExts.Messages/bin/Debug
/DemoMsmqExts.Messages/obj/Debug
/DemoMsmqExts.Publisher/bin/Debug
/DemoMsmqExts.Publisher/obj/Debug
/MsmqExts/.vs/MsmqExts/v16
/MsmqExts/bin/Debug
/MsmqExts/obj/Debug
/packages/Newtonsoft.Json.12.0.2
/DemoMsmqExts.Consumer/bin/Release
/DemoMsmqExts.Consumer/obj/Release
/DemoMsmqExts.Messages/bin/Release
/DemoMsmqExts.Publisher/bin/Release
/DemoMsmqExts.Messages/obj/Release
/DemoMsmqExts.Publisher/obj/Release
/MsmqExts/bin/Release/netstandard2.0
/MsmqExts/obj
/MsmqExts/bin/Release/net45
/MsmqExts/bin
